.pager
{
	margin: 30px 0 0 60px;
}
.pager-link
{
	color: #888;
	letter-spacing: 0.1em;
}

nav
{
	float: right;
	margin: -12em 1em 1em;
	width: 40%;
}

nav, blockquote
{
	border: 1px solid transparent;
}

nav ul
{
	margin: 1em;
}
nav li
{
	letter-spacing: 0.1em;
	line-height: 1em;
}
nav li small
{
	display: block;
}

nav a,
.pager a
{
	text-decoration: none;
}
nav small {
    white-space: nowrap;
}

/* Headings */

h1, header h2{
	text-transform: uppercase;
}

header h1
{	
	font-size: 60px;
	margin: 60px 0 10px 60px;
}
article h1
{
	font-size: 35px;
	margin: 40px 60px 60px 0;
}

header h2
{
	font-size: 35px;
	margin: 0 0 60px 60px;
}
article h2
{
	font-size: 160%;
	margin-top: 1.2em;
	border-bottom: 1px dotted #353b1a;
	display: inline-block;
}
section h2
{
	border: none;
}

header
{
	padding: 1px;
}

li
{
	margin: 0.5em 0;
}

/* Article formatting */
article
{
	margin: 60px;
	font-size: 120%;
}
article p
{
	margin: 0.5em 0 1em;
	line-height: 1.3em;
}

article ul
{
    margin: 1em 0;
    padding: 0.3em 0 0.2em;
}
article ul ul {
    border: none;
    margin: 0.8em 1.8em;
    padding: 0;
}

article img
{
	float: right;
	clear: right;
    margin: 1em 2em;
	max-width: 50%;
}
article a, code
{
	color: #135;
}

pre
{
	padding: 8px;
	margin-bottom: 2em;
	white-space: pre-wrap;
	overflow: hidden;
}
pre, code
{
	background: #f6f6ff;
}
pre, code, blockquote
{
	border-radius: 2px;
}

code
{
	font-family: Consolas, monospace;
	padding: 1px 3px;
	background: #f6f6ff;
	font-size: 0.9em;
}
pre code
{
	padding: 0;
}

blockquote
{
	background: #eee;
	border-left: 3px solid gray;
	padding-top: 0.4em;
	padding-left: 1em;
}

table
{
	width: 100%;
}

/* Mobiles */
@media (max-width: 767px){

	/* Small, centre title */
	header h1
	{
		margin: 30px auto 10px auto;
		width: 80%;
	}
	header h2
	{
		margin: 5px auto 20px auto;
		width: 80%;
	}

	/* Unfloat nav box */
	nav{
		float: none;
		margin: 0;
		width: 100%;
	}
	
	/* Unfloat images and centre them in flow */
	article img
	{
		float: none;
		max-width: 100%;
		display: block;
		margin: 1em auto;
	}
	
	/* Give article text more room */
	article
	{
		margin-left: 20px;
		margin-right: 20px;
		font-size: 100%;
	}
		
	.pager
	{
		margin-left: 20px;
	}
}