/*
SG 2016
Assume short, narrow screen
Media Qs for
	Not Narrow (wd 621),
	Not Short (ht 601),
	and Biggest (wd 741)
*/

html, body
{
	height: 100%;
}

/*
	=== Utilities ===
*/

.center
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.upper
{
	text-transform: uppercase;	
}

.lh1
{
	line-height: 1em;
}
.lh1p5
{
	line-height: 1.5em;
}

.serif
{
	font-family: "Times New Roman", serif;
}

.bold
{
	font-weight: bold;
}

.m
{
	/* Mobile elements - show unless big screen */
	display: block;
}

.flourish
{
	display: none;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

/* "Mobile width" x */
.mw300
{
	width: 300px;
}
.mw200
{
	width: 200px;
}

/*
	Utils
	Not Narrow
*/
@media (min-width: 621px)
{
	.flourish{
		display: block;
		width: 50px;
		margin: 60px 0 0;
	}
	.left{
		margin-left: 30px;
	}
	.right{
		margin-right: 30px;
	}
	
	/* Shrinks are big */
	.mw200, .mw300
	{
		width: 100%;
	}
	
	/* Mobile elements hidden */
	.m{
		display: none;
	}
	
}

/*
	Utils
	Biggest
*/
@media (min-width: 741px)
{
	.flourish{
		width: 69px;
	}
	.left{
		margin-left: 60px;
	}
	.right{
		margin-right: 60px;
	}
}
	
/*
	=== Typography ===
*/

h1
{
	margin: 110px auto 0;
	text-align: center;
	font-size: 40px;
}
h2
{
	margin-bottom: 1em;
	text-align: center;
	font-size: 40px;
}

p
{
	width: 100%;
	font-size: 125%;
}

a
{
	text-decoration: none;
}

article
{
	margin: 1px 20px;
}

	article a
	{
		color: #7EA629;
	}

/*
	Typography
	Not Narrow
*/
@media (min-width: 621px)
{
	/* Bigger headlines */
	h1, h2
	{
		font-size: 60px;
	}
	
	/* More space */
	article 
	{
		margin: 1px 60px;
	}
	
	/* Bigger */
	p
	{
		font-size: 150%;
	}

}

/*
	Typography
	Not Short
*/
@media (min-height: 601px)
{
	h1
	{
		margin-top: 180px;
	}
}

/*
	=== Content ===
*/

.logo
{
	position: absolute;
	top: 33%;
	left: 50%;
	height: 200px;
	margin: -100px 0 0 -100px;
}

.arrow
{
	border: none;
	width: 81px;
	height: 81px;
	margin: 1em 0 3em;
}

.who{
	margin: 0 auto 2em;	
	font-size: 29px;
	letter-spacing: 0.3em;
	width: 80%;
}
.and{
	font-size: 64px;
	display: block;
	margin: 0.5em 0;
}

.hello{
	margin-top: 1em;
}

/*
	Content
	Not Narrow
*/
@media (min-width: 621px)
{
	.who
	{
		margin: 0 auto 3em;
	}
}

/*
	Content
	Not Short
*/
@media (min-height: 601px)
{
	/* Big logo */
	.logo
	{
		height: 300px;
		margin: -150px 0 0 -150px;
	}
	/* Big arrows */
	.arrow{
		margin: 1.5em 0 4em;
		width: 107px;
		height: 107px;
	}
}

/*
	=== List ===
*/

ul{
	position: relative;
	left: -7em;
	width: 240px;
	margin: 2% 0 0 50%;
}

li{
	list-style-type: none;
	letter-spacing: 0.1em;
	background-repeat: no-repeat;
	height: 32px;
	line-height: 32px;
	margin: 20px 0;
	padding-left: 3em;
}
.in{
	background-image: url(img/blog.png);
}
.tw{
	background-image: url(img/tw.png);
}
.pn{
	background-image: url(img/pn.png);
}
.gh{
	background-image: url(img/gh.png);
}